@model IEnumerable<MVCeTicaret.Models.Wishlist>
@{
    ViewBag.Title = "WishList";
}

<h2>İstek Listeniz</h2>

<table class="table-bordered" style="text-align:center">
    <thead>
        <tr>
            <td>Listeden Çıkar</td>
            <td>Ürün Görseli</td>
            <td>Ürün Adı</td>
            <td>Ürün Fiyatı</td>
            <td>Stok Miktarı</td>
            <td>Sepete Ekle</td>
        </tr>
    </thead>

        <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @* TODO: Link eklemeyi unutma!.. *@
                        <a href="@Url.Action("RemoveFromWishList","Shopping", new { id = item.WishlistID })" style="font-size:17pt;">
                            <span class="glyphicon glyphicon-trash" style="color:hotpink;"></span>
                        </a>
                    </td>
                    <td>
                        <img src="@Url.Content(item.Product.ImageUrl)" alt="@Url.Content(item.Product.AltText)" class="img-thumbnail" style="height:150px;" />
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @string.Format("{0:C2}", item.Product.UnitPrice)
                    </td>
                    <td>
                        @item.Product.UnitsInStock @item.Product.QuantityPerUnit
                    </td>
                    <td>
                        @{
                            if (item.Product.UnitsInStock == 0)
                            {
                                <a disabled style="font-size:20pt;">
                                    <span class="glyphicon glyphicon-shopping-cart" style="color:darkgray;"></span>
                                </a>
                            }
                            else
                            {
                                @* TODO: Link eklenecek!..*@
                                <a href="@Url.Action("AddToCartFromWishList", "Shopping", new { id = item.WishlistID })" style="font-size:20pt;">
                                    <span class="glyphicon glyphicon-shopping-cart" style="color:lightblue;"></span>
                                </a>
                            }
                        }                       
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

